[submodule "/Users/gilles.dubuc/.vim/pack/plugins/start/vim-go"]
	path = /Users/gilles.dubuc/.vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/plugins/start/lightline.vim"]
	path = pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
